<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title> Universit&aacute; di Magenta</title>
		<link rel="stylesheet" href="css/bootstrap.css">
	</head>
	
	<body>
		<h1>
			<span >Pagina di errore </span>
		</h1>
		<!--  in questo modo non serve il context path, capire meglio perchè prima dell'orale -->
		
		<h3>
			<span style="color: red;" th:text="${errorMessage.message}"> Message </span>
		</h3>
		
		<h3 th:if="${session.docente != null}"><a href="/verbalizzazione_voti/HomeDocente"> Torna alla Home Docente</a></h3>
		<h3 th:if="${session.studente != null}"><a href="/verbalizzazione_voti/HomeStudente"> Torna alla Home Docente</a></h3>
		<h3 th:if="${session.docente == null && session.studente == null}"> <a href="/verbalizzazione_voti">Home Universita'</a></h3>
			
	</body>
